.FormComment {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 30px;
}

.FormComment-title {
    font-size: 12px;
    margin: 0;
}

.FormComment-textarea {
    width: 100%;
    font-size: 14px;
    resize: none;
}

.FormComment-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.FormComment-login {
    margin-top: 30px;
}

.FormComment-login > a {
    text-decoration: underline;
    color: #0087E9;
    cursor: pointer;
}

.FormComment-cancel {
    color: #666666;
    cursor: pointer;
}