.Comments {
    padding: 20px 40px;
}

.Comments-header {
    font-size: 24px;
    font-weight: normal;
}
.Comments-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 25px;
}